Source: respkg
Section: multiverse/python
Priority: optional
Maintainer: Peter Howe <peter.howe@emc.com>
Build-Depends: cdbs, debhelper (>= 7), python3 (>= 3.4), python3-dev (>=3.4), python3-setuptools (>= 20.0), lsb-release
X-Python3-Version: >= 3.4
Standards-Version: 3.8.3

Package: respkg
Architecture: all
Depends: python3 (>= 3.4), ${misc:Depends}, ${python3:Depends}
Description: RESsource PacKaGe
  RESsource PacKaGe
